/* h1{
    color: red;
}

h2.first#myID p{
    text-decoration: underline;
    color: green;
} */
:root{
    --text-color: orange;
}

li {
    color: var(--text-color);
}

#myID .first{
    color: yellow;
}

* {
    color: red;
}

html {
    color: green;
}

body {
    color: blue;
}

.first .second {
    text-decoration: underline;
}