.header {
    height: 100px;
    background-image: linear-gradient(0, #fe6433, #f53e2d);
    margin-top: 0;
}

.header__navbar {
    display: flex;
    justify-content: space-between;
}

.header__navbar-list {
    list-style: none;
    padding-left: 0;
    margin-top: 4px;
}

.header__navbar-item {
    margin: 0 8px;
    display: inline-block;
    font-size: 1.4rem;
    position: relative;
}

.header__navbar-item, .header__navbar-item-link {
    color: var(--white-color);
    text-decoration: none;
    font-weight: 300;
}

.header__navbar-item:hover, .header__navbar-item-link:hover {
    cursor: pointer;
    color: rgba(255, 255, 255, 0.7);
}

.header__navbar-item-strong {
    font-weight: 400;
}

.header__navbar-item--seperate {
    margin: 0 1px;
}

.header__navbar-icon-link {
    color: var(--white-color);
    text-decoration: none;
}

.header__navbar-icon {
    font-size: 1.8rem;
    margin: 0 4px;
}

.header__navbar-icon:hover {
    color: rgba(255, 255, 255, 0.7);
}

.header__qr {
    background-color: var(--white-color);
    width: 250px;
    position: absolute;
    left: 0;
    top: 115%;
    padding: 8px;
    border-radius: 2px;
    display: none;
    animation: fadeIn ease-in 0.5s;
}

.header__qr::before {
    content: "";
    display: block;
    width: 100%;
    height: 15%;
    position: absolute;
    left: 0;
    top: -16px;
}

.header__qr-img {
    width: 100%;
}

.header__qr-download {
    display: flex;
    width: 95%;
}

.header__qr-download-link {
    box-sizing: border-box;
    width: 100%;
}

.header__qr-download-img {
    width: 98%;
}

.header__qr-download-link:first-child {
    margin-left: 6%;
}
.header__navbar-show:hover .header__qr{
    display: block;
}

.header__navbar-item:hover .header__nav-notification {
    display: block;
}

.header__nav-notification {
    --growth-from: 0;
    --growth-to: 1;
    width: 404px;
    position: absolute;
    background-color: var(--white-color);
    border: 1px solid #D3D3D3;
    color: var(--text-color);
    top: 115%;
    right: 0%;
    display: none;
    transform-origin: calc(100% - 20px) top;
    animation: headerNotification ease-in 0.25s;
    will-change: opacity, transform;
}

.header__nav-notification::before {
    content: "";
    position: absolute;
    border-width: 20px 26px;
    border-style: solid;
    border-color: transparent transparent var(--white-color) transparent;
    left: 86%;
    top: -29px;
}

.header__nav-notification::after {
    content: "";
    display: block;
    width: 100%;
    height: 15%;
    position: absolute;
    left: 0;
    top: -16px;
}

.header__nav-notification-header {
    height: 40px;
    background-color: var(--white-color);
    margin: 0 0 0 12px;
}

.header__nav-notification-header h3 {
    margin: 0;
    color: #999;
    font-weight: 400;
    font-size: 1.4rem;
    line-height: 40px;
    cursor: default;
}

.header__nav-notification-list {
    list-style: none;
    padding: 0;
}

.header__nav-notification-item {
    width: 100%;
}

.header__nav-notification-item:hover {
    background-color: #F7F7F7;
}

.header__nav-notification-item--viewed {
    background-color: rgba(238, 75, 43, 0.1);
}

.header__nav-notification-link {
    display: flex;
    padding: 12px;
}

.header__nav-notification-img {
    width: 15%;
    object-fit: contain;
}

.header__nav-notification-body {
    margin-left: 12px;
}

.header__nav-notification-name {
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 1.8rem;
    margin: 0;
}

.header__nav-notification-description {
    color: #756F6E;
    font-size: 1.2rem;
    margin: 4px 0 0 0;
    line-height: 1.6rem;
}

.header__nav-notification-footer {
    display: flex;
}

.header__nav-notification-footer-btn {
    width: 100%;
    text-decoration: none;
    font-weight: 400;
    color: var(--text-color);
    padding: 4px 0;
    text-align: center;
}

.modal {
    --growth-from: 0.7;
    --growth-to: 1;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: flex;
    animation: headerNotification linear 0.1s;
}

.modal__overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
}

.modal__body {
    background-color: var(--white-color);
    position: relative;
    margin: auto;
    border-radius: 5px;
    overflow: hidden;
}

.auth-form {
    padding: 0 32px;
    width: 500px;
}

.auth-form__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 12px 12px;
}

.auth-form__heading {
    font-size: 2.2rem;
    font-weight: 400;
}

.auth-form__switch {
    font-size: 1.6rem;
    color: var(--primary-color);
    font-weight: 400;
    cursor: pointer;
}

.auth-form__input {
    width: 100%;
    font-size: 1.4rem;
    margin-top: 16px;
    padding: 12px;
    border: 1px solid var(--border-color);
    border-radius: 5px;
}

.auth-form__aside {
    margin-top: 18px;
    font-size: 1.2rem;
    text-align: center;
    margin-bottom: 60px;
}

/* .auth-form__policy {
    margin-bottom: 60px;
} */

.auth-form__policy-link {
    text-decoration: none;
    color: var(--primary-color);
}

.auth-form__controls {
    display: flex;
    justify-content: flex-end;
    margin-top: 20px;
    margin-bottom: 20px;
}

.auth-form__control-back {
    color: #666;
    margin-right: 8px;
}

.auth-form__socials {
    background-color: #F5F5F5;
    width: 100%;
    padding: 12px 32px;
    display: flex;
    justify-content: space-between;
}

.btn-connect {
    font-size: 1.4rem;
    background-color: #F5F5F5;
    height: unset;
    flex-basis: 49%;
}

.auth-form__socials-icon {
    
}

.btn-facebook {
    color: var(--white-color);
    background-color: #3A5A98;
}

.btn-google {
    color: #666;
    background-color: var(--white-color);
}

.auth-form__help {
    display: flex;
    justify-content: flex-end;
}

.auth-form__help-link {
    text-decoration: none;
    font-size: 1.4rem;
    color: #939393;
}

.auth-form__help-forgot {
    color: var(--primary-color);
}

.auth-form__help--seperate {
    display: block;
    height: 22px;
    margin: 2px 16px 0;
    border-left: 1px solid #EAEAEA;
}